:root{
    --color-principal: rgb(196, 35, 35);
    --color-segundaria: rgb(235, 255, 55);
    --color-terciaria: rgb(37, 30, 30);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: var(--color-principal);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
input#input{
    text-align: center;
    width: 35%;
    border: 1px solid var(--color-terciaria);
}
button#button{
    background-color:var(--color-segundaria);
    text-align: center;
    width: 35%;
    margin-bottom: 30px;
    border: 1px solid var(--color-terciaria);
}
div.menu_pesquisa{
    width: 100vw;
    position: absolute;
    top: 0;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;   
}
div.resultado{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h1#hero_name{
    font-size: 32px;
    font-weight: 300;
    text-transform: capitalize;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    transition: .3s;
    margin-bottom: 50px;
    color: var(--color-segundaria);
}
h1#hero_name:hover{
    font-size: 48px;
}
img#hero_image{
    text-align: center;
    width: 25vh;
    transition: .3s;
    border-radius: 50%;
    border: 5px solid var(--color-terciaria);
}
img#hero_image:hover{
    scale: 1.2;
}
